
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c; 
    color: #ff0000; 
  }

  header {
    background-color: #000000;
    text-align: center;
    padding: 40px; 
    color: #ff0000; 
  }

  header h1 {
    font-size: 3em; 
    font-weight: bold;
    margin-bottom: 10px; 
  }

  header p {
    font-size: 1.5em; 
  }
  #proximos-shows {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
    color: #ff0000; 
    margin-bottom: 20px;
  }

  #proximos-shows h2 {
    color: #ff0000; 
    font-size: 2em;
    margin-bottom: 10px;
  }

  #proximos-shows table {
    width: 90%; 
    max-width: 800px;
    margin: 0 auto; 
    border-collapse: collapse; 
    background-color: #2e2e2e; 
    border: 1px solid #444;
  }

  #proximos-shows th, #proximos-shows td {
    padding: 10px;
    text-align: center;
    border: 1px solid #444;
    color: #ffffff; 
  }

  #proximos-shows th {
    background-color: #ff4500; 
    color: #ffffff; 
    font-weight: bold;
  }

  #proximos-shows tr:nth-child(even) {
    background-color: #333; 
  }

  #proximos-shows tr:hover {
    background-color: #444;
  }

  /* Localização */
  #localizacao {
    text-align: center;
    padding: 20px;
    background-color: #2e2e2e;
    margin-bottom: 20px;
  }

  #localizacao h2 {
    color: #ff0000; 
    font-size: 2em;
  }

  #localizacao iframe {
    width: 90%; 
    max-width: 600px; 
    height: 300px; 
    border: none;
    border-radius: 10px; 
  }


  #imagens {
    text-align: center;
    padding: 20px;
    background-color: #000000;
  }

  #imagens h2 {
    color: #ff0000; 
    font-size: 2em;
  }

  .imagens-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
  }

  .imagens-container img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .imagens-container img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.6);
  }

  #about {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
  }

  #about h2 {
    color: #ff0000;
    font-size: 2em; 
  }

  #about p {
    font-size: 1.2em;
  }
  .btn {
    display: inline-block;
    background-color: #ff4500; 
    color: #ffffff; 
    padding: 10px 20px; 
    font-size: 1.2em; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 5px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.btn:hover {
    background-color: #ff6347; 
    transform: scale(1.1); 
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3); 
}


.btn:active {
    transform: scale(1.05); 
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); 
}

  /* Vídeo */
  #music-video {
    text-align: center;
    padding: 20px;
    background-color: #000000;
  }

  .youtube-card {
    display: block;
    max-width: 600px; 
    margin: 0 auto; 
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease;
  }

  .youtube-card:hover {
    transform: scale(1.05); 
  }

  .youtube-thumbnail {
    width: 100%; 
    height: auto; 
  }