
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: hsl(0, 100%, 50%);
}

header {
  background-color: #000000;
  text-align: center;
  padding: 20px;
  color: #ff4500;
}

header h1 {
  font-size: 2.5em;
  margin: 0;
}

header p {
  font-size: 50px;
}

#localizacao {
  padding: 20px;
  text-align: center;
  background-color: #2e2e2e; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
}

#localizacao h2 {
  color: #ff4500; /* Cor laranja vibrante */
  margin-bottom: 15px;
}

#localizacao iframe {
  margin-top: 20px;
  border: none;
  border-radius: 10px; /* Bordas arredondadas */
  width: 100%; /* Ajusta o mapa para o tamanho da tela */
  max-width: 800px; /* Limita o tamanho máximo */
  height: 450px;
}

#imagens {
  padding: 20px;
  text-align: center;
  background-color: #2e2e2e;
}

#imagens h2 {
  color: #ff4500;
  margin-bottom: 15px;
}

.imagens-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.imagens-container img {
  width: 200px;
  height: auto;
  border: 3px solid #ff4500;
  border-radius: 10px;
  transition: transform 1.5s, box-shadow 1.5s;
}

.imagens-container img:hover {
  transform: scale(2.05);
  box-shadow: 10px 20px 50px rgba(0, 0, 0, 0.5);
}

/* Sobre */
#about {
    text-align: center;
    padding: 20px;
}
h2 {
    font-size: 50px; 
}

p {
    font-size: 25px;
}

#about .btn-ingresso {
    display: inline-block; 
    padding: 15px 30px;
    background-color: #ff4500; 
    color: white; 
    text-decoration: none;
    font-size: 2.2em; 
    font-weight: bold;
    border-radius: 5px; 
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(255, 69, 0, 0.4); 
}

#about .btn-ingresso:hover {
    background-color: #ff6347;
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(255, 69, 0, 0.6);
}
#music-video {
    padding: 20px;
    text-align: center;
    background-color: #1c1c1c;
}

.youtube-card {
    display: block;
    max-width: 600px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.youtube-card:hover {
    transform: scale(1.20);
}

.youtube-thumbnail {
    width: 100%;
    height: auto;
}

.youtube-info {
    padding: 15px;
    text-align: center;
    background-color: #FF4500;
}

.youtube-info h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.youtube-info p {
    margin: 10px 0 0;
    font-size: 0.9em;
}

/* Rodapé */
footer {
  text-align: center;
  padding: 20px;
  background-color: #333333; /* Fundo cinza escuro */
  color: #ffffff; /* Texto branco */
}

footer a {
  color: #ff4500; /* Laranja vibrante */
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}